<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/index.css}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<body>

<p th:text="'Hello,' + ${user}"/>

<h1>Newsletter Form</h1>

<form th:action="@{/newsletter}" th:object="${newsletter}" method="post">
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>
        <input type="submit" value="Subscribe"/>
        <input type="reset" value="Reset"/>
    </p>
</form>

</body>
</html>